*{
  -webkit-user-select:none;
  -webkit-app-region:none;
}

body{
  background-image: url('https://i.postimg.cc/Z5pGrtNW/The-Right-Home-Music.jpg');
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container {
    outline: 5px solid orange;
    position: relative;
    width: 660px;
    text-align: center;
    background-color: #CC5500;
  
}

.inner-container .pad-bank {
    width: 340px;
    height: 272px;
    display: inline-block;
    margin: 20px;
    background-color: #008080;
    box-shadow: black 3px 3px 5px 3px;
}

.inner-container .logo {
    position: absolute;
    top: 5px;
    right: 10px;
    
}

.inner-container .pad-bank .drum-pad {
    position: relative;
    float: left;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
 
    padding-top: 35px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #808000;
    margin-top: 8px;
    box-shadow: black 3px 3px 5px;
}

#chord-1, #chord-4, #chord-7{
  margin-left:8px;
}

.inner-container .controls-container {
    width: 240px;
    height: 250px;
    display: inline-block;
    margin: 40px 20px 0 10px;
    vertical-align: top;
    background-color: #FFDB58;
    box-shadow: black 3px 3px 5px 3px;
}
